{% extends 'base.html' %}
{% block content %}
<!--Register-->
<div class="card"></div>
    <div class="card-header">
        <h5 class="card-title">Signup</h5>
    </div>
    <div class="card-body"> 
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">First Name</label>
                        <input class="form-control rounded-0" type="text" name="firstName" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">Last Name</label>
                        <input class="form-control rounded-0" type="text" name="lastName" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">Email</label>
                        <input class="form-control rounded-0" type="text" name="email" id="fisrt" required>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Username</label>
                        <input class="form-control rounded-0" type="text" name="username" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Password</label>
                        <input class="form-control rounded-0" type="password" name="password" id="fisrt" required>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Phone Number</label>
                        <input class="form-control rounded-0" type="tel" name="phone" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="first">Address</label>
                        <textarea name="address" class="form-control rounded-0" id="" required></textarea>
                    </div>
                </div>

            </div>

           
            <button class="btn btn-warning btn-sm rounded-0" type="submit">Signup</button>
        </form>
    </div>



    <div class="card-body"> 
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">Username</label>
                        <input class="form-control rounded-0" type="text" name="username" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="first">Password</label>
                        <input class="form-control rounded-0" type="password" name="password" id="fisrt" required>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <button class="btn btn-warning btn-sm rounded-0 mt-2" type="submit">Login</button>
                </div>

            </div>

           
            
        </form>
    </div>


   </div>
{% endblock %}