<div class="card">
    <div class="card-header">
        <h5 class="card-title">Edit Category</h5>
    </div>
    <div class="card-body"> 
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="first">Category</label>
                <input class="form-control rounded-0" type="text" name="name" id="fisrt" value="{{category.name}}" required>
            </div>
            <button class="btn btn-warning btn-sm rounded-0" type="submit">Save Changes</button>
        </form>
    </div>
   </div>